## ALTER TABLE
- Add columns
- Drop columns
- Rename columns
- Modify the column's data type
- Modify constraints

- Syntax: `ALTER TABLE <table-name> <modification-option>;`

### Add Column

- Syntax

```sql
ALTER TABLE <table-name> 
ADD COLUMN <column-name> <date-type> [<constraints>];

-- TODO: In the student_enrollment table, Add the 'age' column with data type `INT` and a CHECK constraint to make sure 
-- we only accept students in the range 18 - 20
ALTER TABLE student_enrollment
ADD COLUMN age INT CHECK(age BETWEEN 18 AND 20);
```

### Drop Columns
- It will delete the column with
    - All the constraint of that column
    - All data for that column

- Syntax

```sql
ALTER TABLE <table-name>
DROP COLUMN <column-name>;

-- TODO: Drop the enrollment_fee
ALTER TABLE student_enrollment
DROP COLUMN  enrollment_fee;
```

### Rename columns
- Syntax

```sql
ALTER TABLE <table-name>
RENAME COLUMN <old-column-name> TO <new-column-name>;

-- TODO: rename the column feedback to student_feedback
ALTER TABLE student_enrollment
RENAME COLUMN feedback TO student_feedback;
```

## Modify column's data type
- We can't drop a data type in sql because all attributes must have a data type
- While modifying, we need to be careful of the data type change, and if postgresql is able to cast the already existing values of that column from the old data type to the new data type.

- Syntax

```sql
ALTER TABLE <table-name>
ALTER COLUMN <column-name>
TYPE <new-type>;

-- TODO: Change the type of student_last_name to VARCHAR(50)
-- TODO: Change the type of enrollment_date to timestamp
ALTER TABLE student_enrollment
    ALTER COLUMN student_last_name TYPE VARCHAR(50),
    ALTER COLUMN enrollment_date TYPE TIMESTAMP;
```

## Modify Constraints
- NOT NULL
- CHECK
- UNIQUE
- PRIMARY KEY

### NOT NULL
#### DROP
- Syntax

```sql
ALTER TABLE <table-name>
    ALTER COLUMN <column-name>
        DROP NOT NULL;
```

#### ADD
- Syntax

```sql
ALTER TABLE <table-name>
    ALTER COLUMN <column-name>
        SET NOT NULL;

-- TODO: Set NOT NULL to the student_last_name
ALTER TABLE student_enrollment
    ALTER COLUMN student_last_name
        SET NOT NULL;
```

### UNIQUE, PRIMARY KEY, CHECK
**NB**: All these constraints are managed with keys in postgresql

#### DROP
- Syntax


```sql
ALTER TABLE <table-name>
    DROP CONSTRAINT <constrain-key>;
-- TODO drop the check constraint.
ALTER TABLE student_enrollment
    DROP CONSTRAINT student_enrollment_age_check;
```

#### Add

**NB**: The way I create my keys

```sql
<table-name>_<underscore-separated-columns>_<constraint>
```
- Syntax

```sql
ALTER TABLE <table-name>
    ADD CONSTRAINT <constraint-key> <constraint-name> (<column-1>[,<column-2>,...<column-n>]);
-- TODO: Add a collective UNIQUE constraint for both class_id and student_id

ALTER TABLE student_enrollment
    ADD CONSTRAINT student_enrollment_classid_studentid_unique UNIQUE(class_id, student_id);
```


### ALTER multiple columns in one statement
- Syntax

```sql
ALTER TABLE <table-name>
    <modification-option-1>,
    <modification-option-2>,
    ....
    <modification-option-n>;

-- TODO: Alter the table with the following modifications
-- 1. Add the enrollment_fee NUMERIC(5,2) NOT NULL
-- 2. rename the column student_feedback to feedback
-- 3. Change enrollment_date data type to DATE
-- 4. Change student_last_name data type to VARCHAR(100)
ALTER TABLE student_enrollment
    ADD COLUMN enrollment_fee NUMERIC(5,2) NOT NULL,
    ALTER COLUMN enrollment_date TYPE DATE,
    ALTER COLUMN student_last_name TYPE VARCHAR(100);

-- Rename a column should be stand-alone.
-- TODO: Check other altering options
ALTER TABLE student_enrollment
    RENAME COLUMN student_feedback TO feedback;
```

## CREATE SCHEMA
- Schema is a namespace which provides various objects: `tables`, `data types`, `views`, `function`, `domain`.
- An equivalent in Python will be a `class`
- By default, postgresql provides the `public schema.

- Syntax

```sql
CREATE SCHEMA [IF NOT EXISTS] <schema-name> [AUTHORIZATION <user-name>];

-- TODO: Create a schema called 'science' in the 'school' database
-- Check with `\dn` to be sure the schema was created

CREATE SCHEMA science;
```

### Create tables in schemas

- syntax

```sql
CREATE TABLE [<schema-name>.]<table-name>(.....);

-- TODO: Create a table in the `science` schema called student with one column: `name VARCHAR(50)`
CREATE TABLE science.student (
    name VARCHAR(50)
);
-- Check tables in specific schema
\dt <schema-name>.*
-- Set the default schema
SET search_path TO <schema-name>;
-- to see which schema is set by default, 
SHOW search_path;
```
## DROP schema
- syntax

```sql
DROP SCHEMA <schema-name> [CASCADE];
-- TODO: Drop the schema science
DROP SCHEMA science CASCADE
-- Dropping a schema with objects requires CASCADE.
-- Deleting a schema doesn't reset the 'search_path'
```

### Exercise
- Create the database `dci`
- Create a schema `company` in the database `dci`
- Create a table `employee` in that schema  with the columns
    - `id` SERIAL PRIMARY KEY
    - `first_name` VARCHAR(50) NOT NULL
    - `date_of_birth` DATE NOT NULL
- Alter table employee in the `company` schema and add a constraints on the column `date_of_birth` such that the accepted date of birth is between `1990-01-01` and `2015-01-01`.